# --------- Course related ----------
Assignments
Lectures
Modern Operating Systems.pdf

# --------- Development files ----------
cscope.*
.*.swp

# --------- Build files ----------
*/build/.depend
*/build/*.o
*/build/linker
*/build/scheduler
*/build/mmu
*/build/iosched

# --------- Test files ----------
*/tests/out_in*
*/tests/inputs/*
*/tests/references/*
*/tests/rfile

# --------- Other ----------
*.tar.xz
*.txz
*.tar
*.tar.bz2
*.tar.gz
*.zip
*.log
